.DS_Store
epistolario-canneti-fiacchi-data.xpr
newProject.xpr
.ipynb_checkpoints/*
letters/busta-11/.ipynb_checkpoints/DLCL_CF_E11010-checkpoint.xml
letters/busta-11/.ipynb_checkpoints/DLCL_CF_E11011-checkpoint.xml
transcriptions/*
txt2tei-base.ipynb
update_facsimile_and_pb.ipynb
